body {
    cursor: default;
  }
  
  
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
  }
  
  #quiz-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  #question-container {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffc8dd;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .option:hover {
    background-color: #cdb4db;
  }
  
  #score-container {
    font-size: 18px;
    margin-top: 20px;
  }
  
  #next-button {
    display: none;
    background-color: #ffc8dd;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  #next-button:hover {
    background-color: #cdb4db;
  }